.header {
  font-weight: bold;
}

table {
  margin-top: 10px;
  border-left: none;
  border-collapse: collapse;
}

table td {
  padding: 10px;
  /*border: 1px solid #ddd;*/
}

table tr {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}

.child {
  background: lightskyblue;
  padding-left: 22px
}

select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font: normal 18px/44px Arial, Sans-Serif;
  color: black;
  border: 1px solid #ccc;
}

