
<select [(ngModel)]="selectedFruit" (ngModelChange)="chooseFruit($event)" >
  <option *ngFor="let fruit of fruits" [ngValue]="fruit"> {{fruit.name}} </option>
</select>

<table>
  <thead>
  <tr class="header">
    <td>Name</td>
    <td>Leads</td>
    <td>Revenue</td>
    <td>Rpl</td>
  </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let data of generalGroupData">
      <tr>
        <td> {{data.name}} </td>
        <td> {{data.leadsCount}} </td>
        <td> {{data.revenue | currency}} </td>
        <td> {{data.rpl | currency}} </td>
      </tr>

      <ng-container *ngIf="chosen === data.name">
        <tr *ngFor="let detail of details" class="child">
          <td style="padding-left: 12px"> {{detail.color}} </td>
          <td> {{detail.leadsCount}} </td>
          <td> {{detail.revenue | currency}} </td>
          <td> {{detail.rpl | currency}} </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
